{% load static %}
{% load sass_tags %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% sass_src 'Assets/scss/styles.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'Assets/scss/searchbar.scss' %}" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href="{% sass_src 'Assets/scss/navbar.scss' %}" />
    <link rel='stylesheet' href="{% sass_src 'Assets/scss/list.scss' %}" />
    <link rel='stylesheet' href="{% sass_src 'Assets/scss/share.scss' %}" />
    {% block title %} {% endblock %}
    <title>nfcs-st-augustine-chaplaincy-imt</title>
</head>
<body>
    {% include "blog/partials/navbar.html" %}


{% block content %}{% endblock content %}
</body>
<style>
*{
    margin:0;
    padding: 0;
    line-height: 1.5rem;

}
</style>
</html>