{% extends "blog/base.html" %}

{% block content %}
 <div class='blog'>

    {% comment %} <div class='header'>
    </dvi> {% endcomment %}

    <div class="list_tag">
        {% if tag %}
            <h2>Post tagged with "{{tag.name}}"
        {% endif %}
    </div>

    <div class='blog-cont'>
        {% for post in posts %}
            <div class='card'> 
                <div class="card-top">
                    <a class="a_tit" href="{{ post.get_absolute_url }}" > 
                        {{ post.title }} 
                    </a>
                    {{post.body|truncatewords:40|safe }}
                </div>

                <div class="tag_href">
                    {% for tag in post.tags.all %}
                        <a class="a_href" href="{% url 'blog:post_list_by_tag' tag.slug %}" >
                            {{tag.name}}
                        </a>
                        {% if not forloop.last %} {% endif %}
                    {% endfor %}
                </div>
                
            </div> 

            {% empty %}
            <p>No Post made yet</p>
            
        {% endfor %}

        {% include "blog/partials/pagination.html" with page=posts %}
    </div> 

    <div class='blog-tag'></div>
    </div>

    {% endblock content %} 