
{% block content %}
<div class="search">
    <div class='search-left'>
       <strong> St. Augustine Blog</strong>
    
    </div>
    

    <div class='search-right'>
        {% comment %} <div class='search-input'> 
            <input type='text' placeholder='Search St. Augustine blog' />
            
            <button class='search-btn'>
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="#00233d" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                </svg>

            </button>
        </div> {% endcomment %}

        <p> 
            <a href="{% url 'blog:post_search' %}">Click here </a> to Search Our Blog Post
         </p>
    </div>

    </div>
</div>
{% endblock %}

